@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Restaurant>

<div class="card">
    <h3 class="card-header">Restaurants</h3>
    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
            {
                <div class="col-md-12">
                    <input type="text" name="search" class="form-control" placeholder="Search for text..." />
                </div>
            }
        </div>
        <div class="col-md-2 mb-3 justify-content-end">
            <select id="statusDropdown" class="form-select" aria-label="Status">
                <option selected>All Status</option>
                <option value="1">Active</option>
                <option value="2">Passive</option>
            </select>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(@Context.Request.Query["search"]))
    {
        <div class="row">
            <div class="col-md-10 form-text text-success">
                <a href="/Restaurant"> <i class="bx bx-x text-danger"></i></a>
                Search Text:<strong> @Context.Request.Query["search"]</strong>
            </div>
        </div>
    }
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-4">Name</th>
                    <th class="col-3">User</th>
                    <th class="col-2">Status</th>
                    <th class="col-3">Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><strong>@item.Name</strong></td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                @foreach (var user in item.Users)
                                {
                                    <li data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="@user.Name">
                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            <a href="/Restaurant/StatusChange/@item.RestaurantId">
                                <span class="badge @(item.Status.Name== "Active" ? "bg-label-success" : "bg-label-danger")" me-1">
                                    @item.Status.Name
                                </span>
                            </a>

                        </td>
                        <td>
                            <a href="/Restaurant/Details/@item.RestaurantId" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Details</a>
                            <a href="/Restaurant/Products" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Products</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="demo-inline-spacing">
        <!-- Basic Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                @Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",
                new { Page = page }),
                new PagedListRenderOptions {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </ul>
        </nav>

        <!--/ Basic Pagination -->
    </div>
</div>
<script>
    document.getElementById("statusDropdown").addEventListener("change", function() {
        if(!window.location.search=="" && !window.location.search.includes("status"))
            window.location.href=window.location.search+"&status="+this.value;
        else
            window.location.href = "?status=" + this.value;
    });
</script>
